argo-cd:
  redis:
    resources:
      requests:
        memory: 64Mi
        cpu: 50m
      limits:
        memory: 128Mi
        cpu: 100m

  dex:
    resources:
      requests:
        memory: 32Mi
        cpu: 20m
      limits:
        memory: 64Mi
        cpu: 100m

  repoServer:
    resources:
      requests:
        memory: 256Mi
        cpu: 100m
      limits:
        memory: 512Mi
        cpu: 500m

  server:
    resources:
      requests:
        memory: 128Mi
        cpu: 50m
      limits:
        memory: 256Mi
        cpu: 200m

  controller:
    resources:
      requests:
        memory: 256Mi
        cpu: 100m
      limits:
        memory: 512Mi
        cpu: 500m

  configs:
    params:
      server.insecure: "true"
    secret:
      createSecret: false
