traefik:
  deployment:
    kind: Deployment
    replicas: 1
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 256Mi
  hostNetwork: true
  ports:
    metrics:
      port: 9101
      expose:
        default: false
      exposedPort: 9101
      protocol: TCP
    traefik:
      port: 8080
      expose:
        default: false
      exposedPort: 8080
      protocol: TCP
    web:
      port: 80
      hostPort: 80
      expose:
        default: true
      protocol: TCP
    websecure:
      port: 443
      hostPort: 443
      expose:
        default: true
      protocol: TCP

  persistence:
    enabled: true
    name: ssl-certs
    storageClass: "local-path"
    accessMode: ReadWriteOnce
    size: 128Mi
    path: /certs

  service:
    enabled: true
    type: ClusterIP

  securityContext:
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
    capabilities:
      add:
        - NET_BIND_SERVICE
        - CHOWN
        - SETUID
        - SETGID

  ingressClass:
    enabled: true
    isDefaultClass: true

  ingressRoute:
    dashboard:
      enabled: false

  providers:
    kubernetesCRD:
      enabled: true
    kubernetesIngress:
      enabled: true
      publishedService:
        enabled: false

  additionalArguments:
    - "--certificatesresolvers.myresolver.acme.email=sangtd2005@gmail.com"
    - "--certificatesresolvers.myresolver.acme.storage=/certs/acme.json"
    - "--certificatesresolvers.myresolver.acme.httpchallenge.entrypoint=web"
