apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: argocd-server
  namespace: argocd
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`argocd.sangtd.duckdns.org`)
      kind: Rule
      services:
        - name: argocd-server
          port: 443
          serversTransport: skip-tls-verify
  tls:
    certResolver: myresolver
