apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: headlamp
  namespace: kube-system
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`headlamp.sangtd.duckdns.org`)
      kind: Rule
      services:
        - name: headlamp
          port: 80
  tls:
    certResolver: myresolver
