apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: headlamp-http
  namespace: headlamp
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`100.65.51.248`) && PathPrefix(`/headlamp`)
      kind: Rule
      services:
        - name: headlamp
          port: 80