# apiVersion: traefik.io/v1alpha1
# kind: Middleware
# metadata:
#   name: headlamp-redirect-https
#   namespace: headlamp
# spec:
#   redirectScheme:
#     scheme: https
#     permanent: true

# ---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: headlamp-http
  namespace: headlamp
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`100.65.51.248`)
      kind: Rule
      services:
        - name: headlamp
          port: 80

# ---
# apiVersion: traefik.io/v1alpha1
# kind: IngressRoute
# metadata:
#   name: headlamp-https
#   namespace: headlamp
# spec:
#   entryPoints:
#     - websecure
#   routes:
#     - match: Host(`headlamp.sangtd.duckdns.org`)
#       kind: Rule
#       services:
#         - name: headlamp
#           port: 80
#   tls:
#     certResolver: myresolver
