apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://traefik.github.io/charts
    targetRevision: 34.0.0
    chart: traefik
    helm:
      values: |
        deployment:
          kind: Deployment
          replicas: 1
        hostNetwork: true
        ports:
          metrics:
            port: 9101
            expose: true
            exposedPort: 9101
            protocol: TCP
          web:
            port: 80
            hostPort: 80
            expose:
              default: true
            protocol: TCP
          websecure:
            port: 443
            hostPort: 443
            expose:
              default: true
            protocol: TCP

        persistence:
          enabled: true
          name: ssl-certs
          storageClass: "local-path"
          accessMode: ReadWriteOnce
          size: 128Mi
          path: /certs

        service:
          enabled: true
          type: ClusterIP

        securityContext:
          runAsNonRoot: false
          runAsUser: 0
          runAsGroup: 0
          capabilities:
            add:
              - NET_BIND_SERVICE
              - CHOWN
              - SETUID
              - SETGID

        ingressClass:
          enabled: true
          isDefaultClass: true

        ingressRoute:
          dashboard:
            enabled: false

        providers:
          kubernetesCRD:
            enabled: true
          kubernetesIngress:
            enabled: true
            publishedService:
              enabled: false

        additionalArguments:
          - "--certificatesresolvers.myresolver.acme.email=sangtd2005@gmail.com"
          - "--certificatesresolvers.myresolver.acme.storage=/certs/acme.json"
          - "--certificatesresolvers.myresolver.acme.httpchallenge.entrypoint=web"

  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
