apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://traefik.github.io/charts
    targetRevision: 38.0.1
    chart: traefik
    helm:
      values: |
        deployment:
          kind: Deployment
          replicas: 1
        hostNetwork: true
        service:
          enabled: true
          type: ClusterIP
        ports:
          web:
            port: 80
            hostPort: 80
            expose:
              default: true
            protocol: TCP
          websecure:
            port: 443
            hostPort: 443
            expose:
              default: true
            protocol: TCP
        securityContext:
          capabilities:
            drop: [ALL]
            add: [NET_BIND_SERVICE]
          runAsNonRoot: true
          runAsUser: 65532
          runAsGroup: 65532
        ingressClass:
          enabled: true
          isDefaultClass: true
        ingressRoute:
          dashboard:
            enabled: false
        providers:
          kubernetesCRD:
            enabled: true
          kubernetesIngress:
            enabled: true
            publishedService:
              enabled: false
        additionalArguments:
          - "--certificatesresolvers.myresolver.acme.email=sangtd2005@gmail.com"
          - "--certificatesresolvers.myresolver.acme.storage=/data/acme.json"
          - "--certificatesresolvers.myresolver.acme.httpchallenge.entrypoint=web"
        volumes:
          - name: traefik-data
            hostPath:
              path: /opt/traefik/data
              type: DirectoryOrCreate
        additionalVolumeMounts:
          - name: traefik-data
            mountPath: /data
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
