apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://traefik.github.io/charts
    targetRevision: 38.0.1
    chart: traefik
    helm:
      values: |
        deployment:
          kind: Deployment
          replicas: 1

        persistence:
          enabled: true
          name: ssl-certs
          storageClass: "local-path"
          accessMode: ReadWriteOnce
          size: 128Mi
          path: /certs
        hostNetwork: false

        service:
          enabled: true
          type: LoadBalancer

        ports:
          web:
            port: 80
            expose:
              default: true
            protocol: TCP
          websecure:
            port: 443
            expose:
              default: true
            protocol: TCP

        securityContext:
          capabilities:
            drop: [ALL]
            add: [NET_BIND_SERVICE]
          runAsNonRoot: true
          runAsUser: 65532
          runAsGroup: 65532

        ingressClass:
          enabled: true
          isDefaultClass: true

        ingressRoute:
          dashboard:
            enabled: false

        providers:
          kubernetesCRD:
            enabled: true
          kubernetesIngress:
            enabled: true
            publishedService:
              enabled: true  # Quan tr·ªçng!

        additionalArguments:
          - "--certificatesresolvers.myresolver.acme.email=sangtd2005@gmail.com"
          - "--certificatesresolvers.myresolver.acme.storage=/certs/acme.json"
          - "--certificatesresolvers.myresolver.acme.httpchallenge.entrypoint=web"

  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
