apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: argocd-server-internal
  namespace: argocd
spec:
  entryPoints:
    - web
  routes:
    - match: (Host(`100.65.51.248`) || Host(`argocd.local`)) && PathPrefix(`/argocd`)
      kind: Rule
      services:
        - name: argocd-server
          port: 80
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cmd-params-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-cmd-params-cm
    app.kubernetes.io/part-of: argocd
data:
  server.insecure: "true"
  server.rootpath: "/argocd"
