apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: argocd-redirect-https
  namespace: argocd
spec:
  redirectScheme:
    scheme: https
    permanent: true

---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: argocd-server-http
  namespace: argocd
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`argo.sangtd.pp.ua`)
      kind: Rule
      middlewares:
        - name: argocd-redirect-https
      services:
        - name: argocd-server
          port: 80

---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: argocd-server-https
  namespace: argocd
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`argo.sangtd.pp.ua`)
      kind: Rule
      services:
        - name: argocd-server
          port: 80
  tls:
    certResolver: myresolver


